In [100]:
import pandas as pd
import numpy as np
import sqlite3

In [101]:
# Connect!

conn = sqlite3.connect('data/nba.sqlite')

In [102]:
games_1 = pd.read_sql("SELECT * FROM game", conn)
teams = pd.read_sql("SELECT * FROM team", conn)

stats = pd.read_sql("SELECT * FROM other_stats", conn)

In [103]:
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print([t[0] for t in tables])

['game', 'game_summary', 'other_stats', 'officials', 'inactive_players', 'game_info', 'line_score', 'play_by_play', 'player', 'team', 'common_player_info', 'team_details', 'team_history', 'draft_combine_stats', 'draft_history', 'team_info_common']

In [104]:
other = pd.read_sql("SELECT * FROM team_info_common", conn)
other.head()
# other.columns

Empty DataFrame
Columns: [team_id, season_year, team_city, team_name, team_abbreviation, team_conference, team_division, team_code, team_slug, w, l, pct, conf_rank, div_rank, min_year, max_year, league_id, season_id, pts_rank, pts_pg, reb_rank, reb_pg, ast_rank, ast_pg, opp_pts_rank, opp_pts_pg]
Index: []

In [105]:
other.iloc[-3:, :].head()

Empty DataFrame
Columns: [team_id, season_year, team_city, team_name, team_abbreviation, team_conference, team_division, team_code, team_slug, w, l, pct, conf_rank, div_rank, min_year, max_year, league_id, season_id, pts_rank, pts_pg, reb_rank, reb_pg, ast_rank, ast_pg, opp_pts_rank, opp_pts_pg]
Index: []

In [106]:
elo = pd.read_csv('data/nbaallelo.csv')
elo_latest = pd.read_csv('data/nba_elo_latest.csv')

In [107]:
elo_latest.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'carm-elo1_pre', 'carm-elo2_pre', 'carm-elo_prob1', 'carm-elo_prob2',
       'carm-elo1_post', 'carm-elo2_post', 'raptor1_pre', 'raptor2_pre',
       'raptor_prob1', 'raptor_prob2', 'score1', 'score2'],
      dtype='object')

In [108]:
len(games_1)*2

131396

In [109]:
elo_latest.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'carm-elo1_pre', 'carm-elo2_pre', 'carm-elo_prob1', 'carm-elo_prob2',
       'carm-elo1_post', 'carm-elo2_post', 'raptor1_pre', 'raptor2_pre',
       'raptor_prob1', 'raptor_prob2', 'score1', 'score2'],
      dtype='object')

In [110]:
len(elo_latest)

1080

In [111]:
games_1.columns

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')

In [112]:
stats.columns

Index(['game_id', 'league_id', 'team_id_home', 'team_abbreviation_home',
       'team_city_home', 'pts_paint_home', 'pts_2nd_chance_home',
       'pts_fb_home', 'largest_lead_home', 'lead_changes', 'times_tied',
       'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home',
       'pts_off_to_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_away', 'pts_paint_away', 'pts_2nd_chance_away',
       'pts_fb_away', 'largest_lead_away', 'team_turnovers_away',
       'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'],
      dtype='object')

In [113]:
elo_latest.tail()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,carm-elo1_pre,carm-elo2_pre,carm-elo_prob1,carm-elo_prob2,carm-elo1_post,carm-elo2_post,raptor1_pre,raptor2_pre,raptor_prob1,raptor_prob2,score1,score2
1075,2021-05-15,2021,0,NaN,TOR,IND,1480.317276,1486.163680,0.632276,0.367724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1558.669644,1505.776031,0.665779,0.334221,NaN,NaN
1076,2021-05-15,2021,0,NaN,SAC,UTA,1403.606650,1686.453966,0.258735,0.741265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1455.191480,1691.902173,0.273447,0.726553,NaN,NaN
1077,2021-05-15,2021,0,NaN,POR,DEN,1495.857168,1627.860280,0.454074,0.545926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1587.240642,1634.424245,0.605953,0.394047,NaN,NaN
1078,2021-05-15,2021,0,NaN,NYK,BOS,1566.601444,1566.815326,0.639781,0.360219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1460.153685,1598.695737,0.410511,0.589489,NaN,NaN
1079,2021-05-15,2021,0,NaN,GSW,MEM,1514.244357,1595.740942,0.526603,0.473397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1530.147793,1530.617613,0.613097,0.386903,NaN,NaN

In [114]:
# --- 2.1  start from the wide 'game' table you loaded ---------------
games_w = pd.read_sql("SELECT * FROM game", conn)

# --- 2.2  create a helper to pick HOME vs AWAY columns -------------
home_cols = [c for c in games_w.columns if c.endswith("_home")]
away_cols = [c for c in games_w.columns if c.endswith("_away")]

def melt_side(df, side, cols):
    out = df[["game_id", "game_date"] + cols].copy()
    rename = {c: c.replace(f"_{side}", "") for c in cols}
    out = out.rename(columns=rename)
    out["is_home"] = 1 if side == "home" else 0
    return out

games_home = melt_side(games_w, "home", home_cols)
games_away = melt_side(games_w, "away", away_cols)

games = pd.concat([games_home, games_away], ignore_index=True)

In [115]:
games.tail(20)

,game_id,game_date,team_id,team_abbreviation,team_name,matchup,wl,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,reb,ast,stl,blk,tov,pf,pts,plus_minus,video_available,is_home
131376,0042200206,2023-05-12 00:00:00,1610612752,NYK,New York Knicks,NYK @ MIA,L,27.0,71.0,0.380,10.0,35.0,0.286,28.0,32.0,0.875,8.0,33.0,41.0,13.0,2.0,9.0,12.0,22.0,92.0,-4,1,0
131377,0042200217,2023-05-14 00:00:00,1610612755,PHI,Philadelphia 76ers,PHI @ BOS,L,31.0,83.0,0.373,8.0,37.0,0.216,18.0,19.0,0.947,7.0,30.0,37.0,15.0,4.0,7.0,14.0,14.0,88.0,-24,1,0
131378,0042200311,2023-05-16 00:00:00,1610612747,LAL,Los Angeles Lakers,LAL @ DEN,L,46.0,84.0,0.548,11.0,24.0,0.458,23.0,26.0,0.885,5.0,25.0,30.0,30.0,6.0,4.0,7.0,21.0,126.0,-6,1,0
131379,0042200301,2023-05-17 00:00:00,1610612748,MIA,Miami Heat,MIA @ BOS,W,46.0,85.0,0.541,16.0,31.0,0.516,15.0,19.0,0.789,7.0,28.0,35.0,20.0,12.0,3.0,15.0,22.0,123.0,7,1,0
131380,0042200312,2023-05-18 00:00:00,1610612747,LAL,Los Angeles Lakers,LAL @ DEN,L,36.0,82.0,0.439,8.0,30.0,0.267,23.0,26.0,0.885,4.0,36.0,40.0,26.0,10.0,7.0,12.0,19.0,103.0,-5,1,0
131381,0042200302,2023-05-19 00:00:00,1610612748,MIA,Miami Heat,MIA @ BOS,W,42.0,92.0,0.457,9.0,26.0,0.346,18.0,19.0,0.947,11.0,34.0,45.0,23.0,9.0,5.0,11.0,17.0,111.0,6,1,0
131382,0042200313,2023-05-20 00:00:00,1610612743,DEN,Denver Nuggets,DEN @ LAL,W,44.0,88.0,0.500,17.0,41.0,0.415,14.0,19.0,0.737,5.0,34.0,39.0,30.0,7.0,1.0,6.0,19.0,119.0,11,1,0
131383,0042200303,2023-05-21 00:00:00,1610612738,BOS,Boston Celtics,BOS @ MIA,L,39.0,98.0,0.398,11.0,42.0,0.262,13.0,17.0,0.765,21.0,36.0,57.0,25.0,3.0,3.0,15.0,24.0,102.0,-26,1,0
131384,0042200314,2023-05-22 00:00:00,1610612743,DEN,Denver Nuggets,DEN @ LAL,W,41.0,85.0,0.482,12.0,33.0,0.364,19.0,22.0,0.864,11.0,29.0,40.0,25.0,3.0,9.0,11.0,20.0,113.0,2,1,0
131385,0042200304,2023-05-23 00:00:00,1610612738,BOS,Boston Celtics,BOS @ MIA,W,43.0,84.0,0.512,18.0,45.0,0.400,12.0,18.0,0.667,7.0,32.0,39.0,28.0,8.0,8.0,10.0,24.0,116.0,17,1,0
131386,0042200305,2023-05-25 00:00:00,1610612748,MIA,Miami Heat,MIA @ BOS,L,40.0,78.0,0.513,9.0,23.0,0.391,8.0,10.0,0.800,10.0,26.0,36.0,20.0,6.0,2.0,16.0,13.0,97.0,-13,1,0
131387,0042200306,2023-05-27 00:00:00,1610612738,BOS,Boston Celtics,BOS @ MIA,W,34.0,78.0,0.436,7.0,35.0,0.200,29.0,34.0,0.853,12.0,35.0,47.0,18.0,4.0,8.0,12.0,22.0,104.0,1,1,0
131388,0042200307,2023-05-29 00:00:00,1610612748,MIA,Miami Heat,MIA @ BOS,W,42.0,86.0,0.488,14.0,28.0,0.500,5.0,6.0,0.833,7.0,35.0,42.0,26.0,7.0,2.0,14.0,15.0,103.0,19,1,0
131389,0042200401,2023-06-01 00:00:00,1610612748,MIA,Miami Heat,MIA @ DEN,L,39.0,96.0,0.406,13.0,39.0,0.333,2.0,2.0,1.000,11.0,32.0,43.0,26.0,5.0,4.0,8.0,15.0,93.0,-11,1,0
131390,0042200402,2023-06-04 00:00:00,1610612748,MIA,Miami Heat,MIA @ DEN,W,38.0,78.0,0.487,17.0,35.0,0.486,18.0,20.0,0.900,8.0,23.0,31.0,28.0,5.0,4.0,11.0,22.0,111.0,3,1,0
131391,0042200403,2023-06-07 00:00:00,1610612743,DEN,Denver Nuggets,DEN @ MIA,W,41.0,80.0,0.513,5.0,18.0,0.278,22.0,27.0,0.815,13.0,45.0,58.0,28.0,3.0,5.0,14.0,18.0,109.0,15,1,0
131392,0042200404,2023-06-09 00:00:00,1610612743,DEN,Denver Nuggets,DEN @ MIA,W,39.0,79.0,0.494,14.0,28.0,0.500,16.0,21.0,0.762,5.0,29.0,34.0,26.0,11.0,7.0,8.0,18.0,108.0,13,1,0
131393,0042200405,2023-06-12 00:00:00,1610612748,MIA,Miami Heat,MIA @ DEN,L,33.0,96.0,0.344,9.0,35.0,0.257,14.0,16.0,0.875,11.0,33.0,44.0,18.0,9.0,7.0,8.0,21.0,89.0,-5,1,0
131394,0032200001,2023-02-19 00:00:00,1610616833,GNS,Team Giannis,GNS @ LBN,W,76.0,123.0,0.618,29.0,66.0,0.439,3.0,4.0,0.750,10.0,36.0,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,0
131395,0032200001,2023-02-19 00:00:00,1610616833,GNS,Team Giannis,GNS @ LBN,W,76.0,123.0,0.618,29.0,66.0,0.439,3.0,4.0,0.750,10.0,36.0,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,0

In [116]:
elo.isna().sum()

gameorder             0
game_id               0
lg_id                 0
_iscopy               0
year_id               0
date_game             0
seasongame            0
is_playoffs           0
team_id               0
fran_id               0
pts                   0
elo_i                 0
elo_n                 0
win_equiv             0
opp_id                0
opp_fran              0
opp_pts               0
opp_elo_i             0
opp_elo_n             0
game_location         0
game_result           0
forecast              0
notes            120890
dtype: int64

In [117]:
# Fixing team names and removing All-Star game entries.

CODE_MAP = {
    # Mismatches you saw
    "PHX": "PHO",   # Phoenix
    "BKN": "BRK",   # Brooklyn Nets
    "GOS": "GSW",   # Golden State
    "SAN": "SAS",   # San Antonio
    "UTH": "UTA",   # Utah
    "PHL": "PHI",   # 1940s Sixers label in Kaggle
    # Already-known legacy moves
    "NOH": "NOP", "NOK": "NOP",
    "CHA": "CHO", "NJN": "BRK", "SEA": "OKC"
}

games["team_abbreviation"] = games["team_abbreviation"].replace(CODE_MAP)

# games = games.query("season_type != 'All Star'")

In [118]:
# ELO

elo = pd.read_csv("data/nbaallelo.csv", parse_dates=["date_game"])

elo = elo.rename(columns={
    "team_id": "team_abbreviation",
    "date_game": "game_date",
    "elo_i": "elo_pre",
    "elo_n": "elo_post"
})

In [119]:
# how many NAs do we have?

games["game_date"] = pd.to_datetime(games["game_date"], errors="coerce")

df = (games
      .merge(elo[["team_abbreviation","game_date","elo_pre"]],
             on=["team_abbreviation","game_date"],
             how="left"))

print("NA share after code patch:", df["elo_pre"].isna().mean())

NA share after code patch: 0.2733042624597612

In [120]:
elo.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,game_date,seasongame,is_playoffs,team_abbreviation,fran_id,pts,elo_pre,elo_post,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,2015-06-11,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,2015-06-14,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,2015-06-14,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,2015-06-16,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,2015-06-16,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [121]:
# (a) where are the NAs?
missing = df[df["elo_pre"].isna()]

print("Rows per season lacking Elo")
print(missing["game_date"].dt.year.value_counts().sort_index())

# print("\nRows per team lacking Elo")
# print(missing["team_abbreviation"].value_counts().head(12))

Rows per season lacking Elo
1946      95
1947     211
1948     210
1949     302
1950     283
1951     149
1952     138
1953     151
1954     120
1955      50
1956       6
1957       4
1958       4
1959       4
1960       4
1961       2
1962       4
1963      37
1964      84
1965      87
1966      47
1967      80
1968     172
1969     168
1970      97
1971      99
1972     215
1973     220
1974     189
1975     174
1976      15
1977     117
1978     298
1979     293
1980     273
1981     217
1982     274
1983     253
1984     277
1985     254
1986     248
1987     261
1988     262
1989     259
1990     251
1991     258
1992     259
1993     272
1994     252
1995     253
1996     255
1997     236
1998     120
1999     160
2000     169
2001     165
2002     204
2003     272
2004     286
2005     576
2006     578
2007     556
2008     535
2009     491
2010     497
2011     229
2012     422
2013     266
2014     292
2015    1200
2016    2872
2017    2854
2018    2636
2019    2538
2020    1512
2021    3386
2022    2814
2023    1540
Name: game_date, dtype: int64

# Games to ELO strat

## Exploring ELO dataset

In [126]:
elo.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [133]:
# I want to know if all games per season are recorded here...

elo['date_game'] = pd.to_datetime(elo['date_game']) # changing to datetime format.

elo.groupby('year_id').size()

# There are 'currently' 2460 NBA games + playoffs (which vary).
# It has always been a best-of-seven tournament.
# NBA has been expanding. There have been different number of teams per year. Since 04 same number.

year_id
1947     700
1948     430
1949     760
1950    1186
1951     760
1952     710
1953     748
1954     694
1955     618
1956     622
1957     614
1958     618
1959     620
1960     650
1961     682
1962     778
1963     778
1964     774
1965     772
1966     774
1967     872
1968    1988
1969    2168
1970    2232
1971    2480
1972    2474
1973    2394
1974    2394
1975    2490
1976    2236
1977    1910
1978    1906
1979    1910
1980    1900
1981    1992
1982    1980
1983    1972
1984    2044
1985    2022
1986    2022
1987    2028
1988    2046
1989    2174
1990    2358
1991    2350
1992    2360
1993    2366
1994    2368
1995    2360
1996    2514
1997    2522
1998    2520
1999    1582
2000    2528
2001    2520
2002    2520
2003    2554
2004    2542
2005    2628
2006    2638
2007    2618
2008    2632
2009    2630
2010    2624
2011    2622
2012    2148
2013    2628
2014    2638
2015    2622
dtype: int64

In [ ]:
# Let's merge with relevant stats

## Merging with relevant stats